body {
    font-family: montserrat, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#027DA5, #025C82, #034166, #032B4E, #041A3B)
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(100px,-30%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: whitesmoke;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid whitesmoke;
    margin:10px;  
    
}

@media (min-width: 800px) {
    form {
        flex-direction: column;
        align-items:flex-end;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(100px,-30%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: whitesmoke;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid whitesmoke;
        margin:10px;  
    }

}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #030813;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 20vw;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #F4C904;
    color: #030813;
}


a {
    top: 70px;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: whitesmoke;
    position: relative;
    
    width: 100%;
}

form:valid a {
    display: block;
}

:root {
    --primary: #7AD7F0;
    --secondary: #027DA5;
    --dark: #027DA5;
    --light: #F5FCFF;
}


.card {
    margin: 15px;
    width: 20vw;
    height: 20vh;
    perspective: 1000px; 
    background-color:transparent !important;
    border: transparent !important;
    padding-top: 10px;
    
}


.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
}
.card__face--front:hover {
    box-shadow: 0px 3px 18px 3px #C0C3CF;
    
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #FFF;
    font-size: 25px;
    text-align: center;
}

.card__face--back {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.card__face--back p {
    color: #FFF;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

.card__content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.card__header {
    position: relative;
    padding: 10px;
    font-size: 25px;
}

.card__header:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;z-index: -1;
    border-radius: 0px 0px 50% 0px;
}

#clear-btn{
    color:whitesmoke;
}

.container {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

#headText {
    margin-top: 20px;
}

#wiki {
    color: blue;
}


#search-selection{
    color: whitesmoke;
    

}



#search-selection span:first-of-type{
    padding-left: 35%;
    
}

#search-selection span{
    padding-left: 5%;
    
}

#search-selection p{
    padding-left: 35%;
    margin-bottom:0%;
}

#search-selection h3{
    padding-left: 35%;
    padding-top:5%;
    
}

#search-selection img{
    display:flex;
    height:60vh;
    justify-content: center;
    padding-left: 35%;
    padding-top:15%;
}


#note {
    color: #fff;
    background-color: #000;
    z-index: 10;
    opacity: 0.7;
    box-shadow: -3px 3px 6px #000;
    padding: 0em 1em 2em 1em;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 1.5em;
    left: 4em;
}

#note .header + div {
    /* background: rgb(255, 255, 255); */
    background: #027DA5;
    position: relative;
    text-align: center;
    top: 1px;
    color: whitesmoke;
    padding: 20px;
    /* margin: 30px; */
    border: 1px solid whitesmoke;
}

#note h2 {
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

#note a {
    text-decoration: none;
    color: #fff;
    position: static;
    z-index: 50;
}

#note .header {
    text-align: right;
    background-color: #000;
    border: none;
    padding: 0 0 0 10px;
}

#note img {
    display: block;
    height: 60vh;
    position: relative;
    margin: auto;

}

a#populate {
    display:flex;
    top: 100px;
    bottom:0;
    left: 25%;
    right: 0;
    font-size: 20px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

a#populate:link {color: whitesmoke; display: flex; text-align: center;}  
a#populate:visited {color: whitesmoke; text-align: center;}  
a#populate:hover {color: #FCFC0C; text-align: center;}  
a#populate:active {color: black; text-align: center;} 

a#populate {
    text-decoration: none;
  }

  a#populate {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        #A76202,
        /* #A7020F, */
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  a#populate:hover {
    background-size: 0 3px, 100% 3px;
  }



